<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalShelter"
        tools:targetApi="31">
        <activity android:name=".View.Animals.ManageAnimals.ManageAnimalsActivity" />
        <activity android:name=".View.Obligations.ManageObligations.ManageObligationsActivity" />
        <activity android:name=".View.Statistics.StatisticsAdopted.StatisticsAdoptedActivity" />
        <activity android:name=".View.Statistics.StatisticsBreeds.StatisticsBreedsActivity" />
        <activity android:name=".View.Statistics.StatisticsTypes.StatisticsTypesActivity" />
        <activity android:name=".View.Subordinate.SubordinateHomePage.SubordinateHomePageActivity" />
        <activity android:name=".View.Subordinate.SubordinateSettings.SubordinateSettingsActivity" />
        <activity android:name=".View.Subordinate.SubordinateSettings.ContactInfo.ContactInfoActivity" />
        <activity android:name=".View.Statistics.ManageStatistics.ManageStatisticsActivity" />
        <activity android:name=".View.Animals.AddEditAnimals.AddEditAnimalsActivity" />
        <activity android:name=".View.LoginPage.LoginPageActivity" />
        <activity android:name=".View.Employer.Home.EmployerHomePageActivity" />
        <activity android:name=".View.LoginPage.EmployeeLogin.EmployeeLoginActivity" />
        <activity android:name=".View.Adopter.AdopterSettings.ContactInfo.ContactInfoActivity" />
        <activity android:name=".View.Animals.ShowAnimals.SearchAnimalsActivity" />
        <activity android:name=".View.Animals.AnimalDetails.AnimalDetailsActivity" />
        <activity android:name=".View.Adopter.AdopterHome.AdopterHomeActivity" />
        <activity android:name=".View.Adopter.AdopterSettings.ManageProfileActivity" />
        <activity android:name=".View.Adoption_Request.AddAdoptionRequest.AddAdoptionRequestActivity" />
        <activity android:name=".View.Adoption_Request.AddAdoptionRequest.AdoptionRequestInfo.AdoptionRequestInfoActivity" />
        <activity
            android:name=".View.WelcomePage.WelcomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>